body {
    font-family: Arial, sans-serif; /* Fuente principal de la página */
    background: #f4f4f4; /* Color de fondo gris claro */
    margin: 0; /* Elimina márgenes predeterminados del navegador */
    padding: 0;
    padding-bottom: 1.2rem;
    text-align: center; /* Centra el texto de forma global */
}

main {
    max-width: 500px; /* Ancho máximo del contenedor principal */
    margin: 10px auto; /* Centra el contenedor y agrega espacio arriba y abajo */
    background: #fff; /* Fondo blanco */
    padding: 32px 24px 0;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 12px rgba(0,0,0,0.08); /* Sombra suave alrededor del contenedor */
}

input,
button {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 8px; /* Espacio interno */
    margin: 0; /* Sin margen adicional */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

/* Inputs de tipo number */
input[type="number"] {
    border: 1px solid #bbb; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
}

button, input[type="submit"] {
    background: #43a047;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    margin-bottom: 0;
}

button:hover {
    background: #38883c; /* Verde más oscuro al pasar el mouse */
}

form * {
    margin: 0.8rem 0 0.8rem 0;
}

#container-cedula input {
    margin: 0;
}

.hidden {
    display: none;
}

#error-msg {
    color: red;
    height: 1.3rem;
}

#info-estudiante {
    text-align: left;
}

.forms-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 40px auto;
    max-width: 1000px;
    height: 28rem;
    flex-wrap: wrap;
}

.form-card {
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 350px;
    height: 100%;
}

.form-card input {
    margin: 0.5rem auto;
}

#delete-student {
    background: #eb2401;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    margin-bottom: 0;
}

#delete-student:hover {
    background: hsl(9, 100%, 40%)
}

#container-btn-volver {
    width: 100%;
}

#btn-volver {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
}

#btn-volver:hover {
    background-color: rgb(219, 219, 219);
}