body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
}

h1 {
    margin-bottom: 20px;
}

nav {
    margin-top: 15px;
    margin-bottom: 15px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    background: #eee;
    display: inline-block;
    margin-bottom: 8px;
    color: black;
}

nav a:hover {
    background: #c7c6c6;
}